<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>本当の気持ちをこの場所で</h1>
        <% unless logged_in? %>
         <%= link_to "交換日記を始める", signup_path, class: "btn btn-default btn-lg" %>
        <% end %> 
      </div>
    </div>
  </div>
<% end %>
